<div class="mt-8 flex">
  <a
    href="https://knowva.com"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-4 rounded-lg border border-[#582FFF80] bg-[#582FFF] px-2 py-1 font-semibold text-gray-50 no-underline"
  >
    <div class="text-xs">— Knowva finds you your next mentor</div>

    <div class="flex gap-2 opacity-80">
      <div class="i-lucide-rocket"></div>
      <div class="i-lucide-message-circle"></div>
      <div class="i-lucide-calendar-range"></div>
      <div class="i-lucide-library-square"></div>
      <div class="i-lucide-sparkle"></div>
      <div class="i-lucide-users-round"></div>
      <div class="i-lucide-shopping-bag"></div>
    </div>
  </a>
</div>
