<div class="mt-8 flex">
  <a
    href="https://marketmate.example"
    target="_blank"
    rel="noopener noreferrer"
    class="flex items-center gap-4 rounded-lg border border-[#2BCC5A80] bg-[#2BCC5A90] px-2 py-1 font-semibold text-gray-700 no-underline"
  >
    <div class="text-xs">
      — Market Mate: local gateway to fresh produce & best deals.
    </div>

    <div class="flex gap-2 opacity-80">
      <div class="i-lucide-apple"></div>

      <div class="i-lucide-salad"></div>

      <div class="i-lucide-shopping-bag"></div>
      <div class="i-lucide-handshake"></div>

      <div class="i-lucide-laugh"></div>
    </div>
  </a>
</div>
