---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="About">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
    <Header />
    <h1 class="text-3xl md:text-4xl font-bold mb-4">About me</h1>
    <p class="text-gray-600 md:w-3/4" style="line-height: 2">
      I'm Gideon Appau — exploring chess, code, music, poetry, and writing. I build with curiosity and share with honesty.
    </p>
  </div>
</Layout>

