---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<Layout title="Blog">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-8">
    <Header />
    <h1 class="text-3xl md:text-4xl font-bold mb-4">Blog</h1>
    <p class="text-gray-600 md:w-3/4" style="line-height: 2">
      Notes, drafts, and thoughts in motion. Posts coming soon.
    </p>
  </div>
</Layout>

