---
import NavLink from './NavLink.astro'
---

<header class="container mx-auto sticky top-5 z-5 dark:bg-neutral-900 dark:border-b border-neutral-800">
  <header class="mb-2 flex items-center justify-between py-3">
    <img
      src="/ace.svg"
      alt="ace"
      class="h-[1px] hidden md:block"
      height="18"
      width="60.42"
    />

    <div
      class="flex items-center gap-1 rounded-full border border-zinc-300 bg-[#ffffff20] backdrop-blur-2xl bg-opacity-40 px-1 text-zinc-600 dark:border-neutral-600 dark:bg-neutral-800 dark:text-neutral-300">
      <NavLink
        class="!p-1"
        href="mailto:gideonad.codez@gmail.com"
        target="_blank"
        aria-label="My mail">
        <span class="i-lucide-mail" title="My mail" role="img"></span>
      </NavLink>

      <NavLink
        class="!p-1"
        href="https://twitter.com/theaceslice"
        target="_blank"
        aria-label="Twitter">
        <span class="i-lucide-twitter" title="Twitter" role="img"></span>
      </NavLink>

      <NavLink
        class="!p-1"
        href="https://github.com/aceslice"
        target="_blank"
        aria-label="Github">
        <span class="i-lucide-github" title="Github" role="img"></span>
      </NavLink>
    </div>
  </header>

</header>
